.login {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}

.login .container h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  text-shadow: 2px 6px 10px rgb(89, 158, 147);
}

.login .container>div {
  margin-bottom: 20px;
}

.login .container>div>label {
  margin-right: 10px;
}

.login div>input {
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.login .submitBtn input {
  background-color: rgb(89, 158, 147);
  border: none;
  padding: 6px 12px;
  margin-top: 4px;
  border-radius: 6px;
  transform: scale(1);
  transition: 150ms ease-in-out;
}

.login .submitBtn input:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.05);
}

.login .container .formError {
  color: red;
  font-size: small;
}