@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  display: flex;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.logo p {
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  font-size: xx-large;
  padding: 0 40px;
  color: rgb(89, 158, 147);
  text-shadow: 0px 6px 12px rgb(112, 116, 116);
}

.header nav {
  padding: 0 40px;
  display: flex;
}

.header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.header nav div * {
  list-style: none;
  text-shadow: 2px 6px 10px rgb(89, 158, 147);
  color: rgb(89, 158, 147);
  text-decoration: none;
  padding: 6px;
  color: black;
}

.header nav div *:hover {
  color: rgb(89, 158, 147);
}

.header nav div span {
  color: rgb(89, 158, 147);
}


/* Home and Catalog */
.homePage,
.catalogPage {
  margin: 0px auto;
}

.homePage h1,
.catalogPage h1 {
  margin: 20px 0px;
}

.homePage ul,
.catalogPage ul {
  padding: 0px 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
}

.homePage ul>li,
.catalogPage ul>li {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin: 4px;
  background-color: white;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1);
  transition: 150ms ease-in-out;
}

.homePage ul>li:hover,
.catalogPage ul>li:hover  {
  transform: scale(1.02);
}

.homePage ul li>img,
.catalogPage ul li>img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 80%;
  object-fit: cover;
}

.homePage ul li>section,
.catalogPage ul li>section {
  text-align: center;
  height: 16%;
  padding: 5px;
}

.homePage ul li>section h3,
.catalogPage ul li>section h3 {
  font-size: small;
}

.homePage ul li>section p,
.catalogPage ul li>section p {
  font-size: x-small;
  margin-bottom: 5px;
}

.homePage ul li>section p:nth-child(3),
.catalogPage ul li>section p:nth-child(3) {
  font-weight: bold;
  text-transform: uppercase;
}

.homePage ul li>a,
.catalogPage ul li>a {
  padding: 2px;
  background-color: rgb(89, 158, 147);
  border: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-decoration: none;
  color: black;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: small;
  font-weight: bold;
}

.homePage ul li>a:hover,
.catalogPage ul li>a:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.05);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.homePage .no-books,
.catalogPage .no-books {
  text-align: center;
}


/* Catalog */
.catalogPage .search-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.catalogPage .search-container form input {
  width: 80%;
  padding: 6px 12px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
}

.catalogPage .search-container form button {
  background-color: rgb(89, 158, 147);
  border: none;
  padding: 6px 12px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
}

.homePage h1,
.catalogPage h1 {
  text-align: center;
}


/* Ganre */
.ganrePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ganrePage h1 {
  text-align: center;
  margin-top: 20px;
}

.ganrePage ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5vw;
}

.ganrePage ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 8px;
  margin: 10px;
  background-color: rgb(89, 158, 147);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1);
  transition: 150ms ease-in-out;
}

.ganrePage ul li:hover {
  transform: scale(1.05);
}

.ganrePage ul li a {
  padding: 30px 50px;
  text-decoration: none;
  color: black;
}

.ganrePage ul li a:hover {
  color: white;
}


/* Login and Register */
.login,
.register {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}

.login .container h1,
.register .container h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  text-shadow: 2px 6px 10px rgb(89, 158, 147);
}

.login .container>div,
.register .container>div {
  margin-bottom: 20px;
}

.login .container>div>label,
.register .container>div>label {
  margin-right: 10px;
}

.login div>input,
.register div>input {
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.login .submitBtn input,
.register .submitBtn input {
  background-color: rgb(89, 158, 147);
  border: none;
  padding: 6px 12px;
  margin-top: 4px;
  border-radius: 6px;
  transform: scale(1);
  transition: 150ms ease-in-out;
}

.login .submitBtn input:hover,
.register .submitBtn input:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.05);
} 


/* Create */
.createBook {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
}

.createBook .container h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  text-shadow: 2px 6px 10px rgb(89, 158, 147);
}

.createBook .container>div {
  margin-bottom: 20px;
}

.createBook .container>div>label {
  margin-right: 10px;
}

.createBook .container div select {
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.createBook div>input,
.createBook div>textarea {
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.createBook .submitBtn input {
  background-color: rgb(89, 158, 147);
  border: none;
  padding: 6px 12px;
  margin-top: 4px;
  border-radius: 6px;
  transform: scale(1);
  transition: 150ms ease-in-out;
}

.createBook .submitBtn input:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.05);
}


/* Detail Book */
.detailBook {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
}

.detailBook div {
  width: 30%;
  height: 100%;
  border-radius: 6px;
  margin: 10px;
  background-color: white;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.detailBook div>img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 50%;
}

.detailBook div>section {
  width: 100%;
  height: 20%;
  padding: 10px;
}

.detailBook div section>h3 {
  font-size: small;
}

.detailBook div section>p {
  margin-bottom: 30px;
  text-indent: 30px;
  text-align: justify;
  padding: 0px 10px;
}

.detailBook div section .editBtn,
.detailBook div section .deleteBtn {
  display: inline-block;
  padding: 10px;
  margin: 1vw;
  background-color: rgb(89, 158, 147);
  border: none;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: small;
  font-weight: bold;
}

.detailBook div section .editBtn:hover,
.detailBook div section .deleteBtn:hover {
  cursor: pointer;
  color: white;
}

/* All forms */
.container div {
  margin-bottom: 10px;
}

/* Footer */
footer {
  border-top: 2px solid rgb(0, 0, 0);
  text-align: center;
}

footer p b {
  text-shadow: 2px 6px 10px rgb(89, 158, 147);
}